<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>  
        <setting name="cacheEnabled" value="true"/>  
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="defaultStatementTimeout" value="15000" />  
    </settings> 
    
    <typeAliases>
    	<typeAlias  alias="_script" type="com.ingenuity.tsiedweb.entity.Script"/>
    	<typeAlias  alias="_menu" type="com.ingenuity.tsiedweb.entity.Menu"/>
    	<typeAlias  alias="_user" type="com.ingenuity.tsiedweb.entity.User"/>
    	<typeAlias  alias="_dic" type="com.ingenuity.tsiedweb.entity.Dic"/>
    	<typeAlias  alias="_advert" type="com.ingenuity.tsiedweb.entity.Advert"/>
    </typeAliases>
    
    <mappers>
    	<mapper resource="mybatisConfig/script.xml"/>
    	<mapper resource="mybatisConfig/menu.xml"/>
    	<mapper resource="mybatisConfig/dic.xml"/>
    	<mapper resource="mybatisConfig/advert.xml"/>
    </mappers>
</configuration> 